# Day 2
## Rock Paper Scissors
The Elves begin to set up camp on the beach. To decide whose tent gets to be closest to the snack storage, a giant Rock Paper Scissors tournament is already in progress.

Rock Paper Scissors is a game between two players. Each game contains many rounds; in each round, the players each simultaneously choose one of Rock, Paper, or Scissors using a hand shape. Then, a winner for that round is selected: Rock defeats Scissors, Scissors defeats Paper, and Paper defeats Rock. If both players choose the same shape, the round instead ends in a draw.

Appreciative of your help yesterday, one Elf gives you an encrypted strategy guide (your puzzle input) that they say will be sure to help you win. "The first column is what your opponent is going to play: A for Rock, B for Paper, and C for Scissors. The second column--" Suddenly, the Elf is called away to help with someone's tent.

The second column, you reason, must be what you should play in response: X for Rock, Y for Paper, and Z for Scissors. Winning every time would be suspicious, so the responses must have been carefully chosen.

The winner of the whole tournament is the player with the highest score. Your total score is the sum of your scores for each round. The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

Since you can't be sure if the Elf is trying to help you or trick you, you should calculate the score you would get if you were to follow the strategy guide.

For example, suppose you were given the following strategy guide:

A Y
B X
C Z
This strategy guide predicts and recommends the following:

In the first round, your opponent will choose Rock (A), and you should choose Paper (Y). This ends in a win for you with a score of 8 (2 because you chose Paper + 6 because you won).
In the second round, your opponent will choose Paper (B), and you should choose Rock (X). This ends in a loss for you with a score of 1 (1 + 0).
The third round is a draw with both players choosing Scissors, giving you a score of 3 + 3 = 6.
In this example, if you were to follow the strategy guide, you would get a total score of 15 (8 + 1 + 6).

What would your total score be if everything goes exactly according to your strategy guide?

To begin, get your puzzle input.

### Prepare the strategy guide

In [1]:
import pandas as pd

In [2]:
strategy_df = pd.read_csv("strategy_guide.txt", sep=" ", header=None)
strategy_df.columns = ["opponent", "me"]
strategy_df

     opponent me
0           A  Y
1           B  Z
2           C  Y
3           B  Y
4           A  Y
...       ... ..
2495        A  Y
2496        B  Y
2497        A  Z
2498        A  Y
2499        A  Y

[2500 rows x 2 columns]

In [3]:
# shape: [points, victory, draw, defeat]
hand_dict = {"A": [1, "Z", "X", "Y"],
             "B": [2, "X", "Y", "Z"],
             "C": [3, "Y", "Z", "X"],
             "X": [1, "C", "A", "B"],
             "Y": [2, "A", "B", "C"],
             "Z": [3, "B", "C", "A"]}

### Calculate *Shape* and *Outcome* scores

In [4]:
strategy_df["shape"] = strategy_df["me"].apply(lambda x: hand_dict[x][0])

In [5]:
strategy_df

     opponent me  shape
0           A  Y      2
1           B  Z      3
2           C  Y      2
3           B  Y      2
4           A  Y      2
...       ... ..    ...
2495        A  Y      2
2496        B  Y      2
2497        A  Z      3
2498        A  Y      2
2499        A  Y      2

[2500 rows x 3 columns]

In [6]:
def find_outcome(dictionary, me, opponent):
    # test if my hand is better than opponent
    if dictionary[me][1] == opponent:
        return 6
    # test if hand is the same
    elif dictionary[me][2] == opponent:
        return 3
    # loose otherwise
    else:
        return 0

In [7]:
find_outcome(hand_dict, "Y", "C")

0

In [8]:
strategy_df["outcome"] = strategy_df.apply(lambda x: find_outcome(hand_dict, x["me"], x["opponent"]), axis=1)

In [9]:
strategy_df

     opponent me  shape  outcome
0           A  Y      2        6
1           B  Z      3        6
2           C  Y      2        0
3           B  Y      2        3
4           A  Y      2        6
...       ... ..    ...      ...
2495        A  Y      2        6
2496        B  Y      2        3
2497        A  Z      3        0
2498        A  Y      2        6
2499        A  Y      2        6

[2500 rows x 4 columns]

### Calculate score

In [10]:
strategy_df["score"] = strategy_df["shape"] + strategy_df["outcome"]

In [11]:
strategy_df

     opponent me  shape  outcome  score
0           A  Y      2        6      8
1           B  Z      3        6      9
2           C  Y      2        0      2
3           B  Y      2        3      5
4           A  Y      2        6      8
...       ... ..    ...      ...    ...
2495        A  Y      2        6      8
2496        B  Y      2        3      5
2497        A  Z      3        0      3
2498        A  Y      2        6      8
2499        A  Y      2        6      8

[2500 rows x 5 columns]

### Strategy Guide Total Score

In [12]:
strategy_df.describe()

             shape      outcome        score
count  2500.000000  2500.000000  2500.000000
mean      2.304800     3.948000     6.252800
std       0.612574     2.324534     2.324275
min       1.000000     0.000000     1.000000
25%       2.000000     3.000000     5.000000
50%       2.000000     6.000000     7.000000
75%       3.000000     6.000000     8.000000
max       3.000000     6.000000     9.000000

In [13]:
strategy_df["score"].sum()

15632

#### 15632

# Part 2
--- Part Two ---
The Elf finishes helping with the tent and sneaks back over to you. "Anyway, the second column says how the round needs to end: X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win. Good luck!"

The total score is still calculated in the same way, but now you need to figure out what shape to choose so the round ends as indicated. The example above now goes like this:

In the first round, your opponent will choose Rock (A), and you need the round to end in a draw (Y), so you also choose Rock. This gives you a score of 1 + 3 = 4.
In the second round, your opponent will choose Paper (B), and you choose Rock so you lose (X) with a score of 1 + 0 = 1.
In the third round, you will defeat your opponent's Scissors with Rock for a score of 1 + 6 = 7.
Now that you're correctly decrypting the ultra top secret strategy guide, you would get a total score of 12.

Following the Elf's instructions for the second column, what would your total score be if everything goes exactly according to your strategy guide?

In [14]:
def revised_me(dictionary, me, opponent):
    # test if my hand needs to lose
    if me  == "X":
        return dictionary[opponent][1]
    # test if I need to draw
    elif me  == "Y":
        return dictionary[opponent][2]
    # otherwise I win
    else:
        return dictionary[opponent][3]

In [15]:
hand_dict

{'A': [1, 'Z', 'X', 'Y'],
 'B': [2, 'X', 'Y', 'Z'],
 'C': [3, 'Y', 'Z', 'X'],
 'X': [1, 'C', 'A', 'B'],
 'Y': [2, 'A', 'B', 'C'],
 'Z': [3, 'B', 'C', 'A']}

### Revised hand shape of mine

In [16]:
strategy_df["rev_play"] = strategy_df.apply(lambda x: revised_me(hand_dict, x["me"], x["opponent"]), axis=1)

In [17]:
strategy_df

     opponent me  shape  outcome  score rev_play
0           A  Y      2        6      8        X
1           B  Z      3        6      9        Z
2           C  Y      2        0      2        Z
3           B  Y      2        3      5        Y
4           A  Y      2        6      8        X
...       ... ..    ...      ...    ...      ...
2495        A  Y      2        6      8        X
2496        B  Y      2        3      5        Y
2497        A  Z      3        0      3        Y
2498        A  Y      2        6      8        X
2499        A  Y      2        6      8        X

[2500 rows x 6 columns]

### Revised scores

In [18]:
strategy_df["rev_shape"] = strategy_df["rev_play"].apply(lambda x: hand_dict[x][0])

In [21]:
strategy_df["rev_outcome"] = strategy_df.apply(lambda x: find_outcome(hand_dict, x["rev_play"], x["opponent"]), axis=1)

In [23]:
strategy_df["rev_score"] = strategy_df["rev_shape"] + strategy_df["rev_outcome"]

In [24]:
strategy_df

,opponent,me,shape,outcome,score,rev_play,rev_shape,rev_outcome,rev_score
0,A,Y,2,6,8,X,1,3,4
1,B,Z,3,6,9,Z,3,6,9
2,C,Y,2,0,2,Z,3,3,6
3,B,Y,2,3,5,Y,2,3,5
4,A,Y,2,6,8,X,1,3,4
...,...,...,...,...,...,...,...,...,...
2495,A,Y,2,6,8,X,1,3,4
2496,B,Y,2,3,5,Y,2,3,5
2497,A,Z,3,0,3,Y,2,6,8
2498,A,Y,2,6,8,X,1,3,4
2499,A,Y,2,6,8,X,1,3,4

### Revised Strategy Guide Total Score

In [25]:
strategy_df.describe()

,shape,outcome,score,rev_shape,rev_outcome,rev_score
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,2.304800,3.948000,6.252800,1.852000,3.914400,5.766400
std,0.612574,2.324534,2.324275,0.790915,1.837722,2.189098
min,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,2.000000,3.000000,5.000000,1.000000,3.000000,4.000000
50%,2.000000,6.000000,7.000000,2.000000,3.000000,5.000000
75%,3.000000,6.000000,8.000000,2.000000,6.000000,8.000000
max,3.000000,6.000000,9.000000,3.000000,6.000000,9.000000

In [26]:
strategy_df["rev_score"].sum()

14416

#### 14416